// Body
$body-bg: #0D0D0D;

// Typography
$font-family-sans-serif: 'Montserrat', sans-serif;
$font-family-system: 'Montserrat', sans-serif;
$font-family-content: 'Source Sans Pro', sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

// Colors
$blue: #3490dc;
$indigo: #6574cd;
$purple: #9561e2;
$pink: #f66d9b;
$red: #e3342f;
$orange: #f6993f;
$yellow: #ffed4a;
$green: #38c172;
$teal: #4dc0b5;
$cyan: #6cb2eb;

$white: #FFFFFF;

$primary-black: #000000;
$seconday-black: #0D0D0D;
$tab-item-inactive: #A5A5A5;
$tab-item-active: #FFFFFF;
