.button-stack {
    position: relative;
    margin-top: 16px;

    &__button {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: space-between;
        align-items: center;
        align-content: center;
        position: relative;
        width: 100%;
        padding: 16px 20px;
        background-color: $primary-black;

        &--red {
            span {
                color: #E50A0A !important;
            }
        }
        
        span {
            font-size: 0.812rem;
            font-weight: bold;
            color: $white;
        }
    }
}

button:disabled,
button[disabled] {
    opacity: 0.5 !important;
}